<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="main-container">
  <div class="dashboard">
    <% @portfolios.each do |portfolio| %>
      <div class="flex-item card-portfolio ">
        <h2><%= portfolio.name  %></h2>
        <%# header %>
        <div class="flex-item card-coin-head">
              <div class=" flex-item card-coin-logo">
              </div>
              <div class=" flex-item card-coin-infos-left">
                  symbol
              </div>
              <div class="flex-item card-coin-infos-left">
                  name
              </div>
              <div class="flex-item card-coin-infos-right">
                  stock
              </div>
              <div class="flex-item card-coin-infos-right">
                  price €
              </div>
              <div class="card-coin-infos-right">
                  value €
              </div>
            </div>
        <%# end of header %>
        <% @coins.each do |coin| %>
          <% if coin.portfolio_id == portfolio.id %>
            <div class="flex-item card-coin">
              <div class="flex-item card-coin-logo">
                <%= image_tag coin.image_url, alt: coin.name %>
              </div>
              <div class=" flex-item card-coin-infos-left">
                <%= coin.symbol %>
              </div>
              <div class="flex-item card-coin-infos-left">
                <%= coin.name %>
              </div>
              <div class="flex-item card-coin-infos-right">
                <%= coin.stock %>
              </div>
              <div class="flex-item card-coin-infos-right">
                 <%= coin.price %>
              </div>
              <div class="card-coin-infos-right">
                <%= sprintf('%.2f', coin.stock*coin.price) %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="flex-item card-coin">
          <a href="coins/new" class="btn btn-info  ">add a coin</a>
        </div>
      </div>

    <% end %>
<div class="flex-item card-portfolio">
  <a href="portfolios/new" class="btn btn-info  ">add a portfolio</a>
</div>
  </div>
</div>
