<div class="container">
  <%# <p>Find me in app/views/pages/home.html.erb</p> %>
  <div class="main-container">
    <div class="dashboard">
      <% @portfolios.each do |portfolio| %>
        <div class="flex-item card-portfolio ">
          <h2><%= portfolio.name  %></h2>
          <%# header %>
          <div class="flex-item card-coin-head">
            <div class="flex-item card-coin-logo">        Logo    </div>
            <div class="flex-item card-coin-infos-left">  Symbol  </div>
            <div class="flex-item card-coin-infos-left">  Name    </div>
            <div class="flex-item card-coin-infos-right"> Stock   </div>
            <div class="flex-item card-coin-infos-right"> Price € </div>
            <div class="card-coin-infos-right">           Value € </div>
          </div>
          <%# end of header %>
          <% total = 0 %>
          <% @coins.each do |coin| %>
            <% if coin.portfolio_id == portfolio.id %>
              <div class="flex-item card-coin">
                <div class="flex-item card-coin-logo">
                  <%= image_tag coin.image_url, alt: coin.name %> </div>
                <div class="flex-item card-coin-infos-left">  <%= coin.symbol %> </div>
                <div class="flex-item card-coin-infos-left">  <%= coin.name %>   </div>
                <div class="flex-item card-coin-infos-right"> <%= number_with_delimiter(coin.stock, delimiter: " ", separator:",")  %>  </div>
                <div class="flex-item card-coin-infos-right"> <%= number_with_delimiter(coin.price, delimiter: " ", separator:",") %>  </div>
                <div class="card-coin-infos-right">
                  <%= number_with_delimiter(sprintf('%.2f',coin.stock*coin.price), delimiter: " ", separator:",") %> </div>
                  <%total += coin.stock*coin.price%>
              </div>
            <% end %>
          <% end %>
          <div class="flex-item card-coin">
                <div class="flex-item card-coin-logo"> </div>
                <div class="flex-item card-coin-infos-left"> </div>
                <div class="flex-item card-coin-infos-left"> </div>
                <div class="flex-item card-coin-infos-right"> </div>
                <div class="flex-item card-coin-infos-right"> TOTAL  </div>
                <div class="flex-item card-coin-infos-right"> <%= number_with_delimiter(sprintf('%.2f', total), delimiter: " ", separator:",") %>  </div>
          </div>

          <div class="flex-item card-coin btn btn-info">
            <%= link_to "Add a coin", new_portfolio_coin_path(portfolio.id) %>
          </div>
        </div>
      <% end %>

      <div class="flex-item card-portfolio ">
        <div class="flex-item card-coin btn btn-add btn-info ">
        <%= link_to "Add a portfolio", new_portfolio_path %>
        </div>
      </div>

    </div>
  </div>
</div>
