<div class="container">
  <h1>Dashboard</h1>
  <%# <p>Find me in app/views/pages/home.html.erb</p> %>
  <div class="main-container">
    <div class="dashboard">
      <% @portfolios.each do |portfolio| %>
        <div class="flex-item card-portfolio ">
          <h2><%= portfolio.name  %></h2>
          <%# header %>
          <div class="flex-item card-coin-head">
            <div class="flex-item card-coin-logo">        Logo    </div>
            <div class="flex-item card-coin-infos-left">  Symbol  </div>
            <div class="flex-item card-coin-infos-left">  Name    </div>
            <div class="flex-item card-coin-infos-right"> Stock   </div>
            <div class="flex-item card-coin-infos-right"> Price € </div>
            <div class="card-coin-infos-right">           Value € </div>
          </div>
          <%# end of header %>

          <% @coins.each do |coin| %>
            <% if coin.portfolio_id == portfolio.id %>
              <div class="flex-item card-coin">
                <div class="flex-item card-coin-logo">
                  <%= image_tag coin.image_url, alt: coin.name %> </div>
                <div class="flex-item card-coin-infos-left">  <%= coin.symbol %> </div>
                <div class="flex-item card-coin-infos-left">  <%= coin.name %>   </div>
                <div class="flex-item card-coin-infos-right"> <%= coin.stock %>  </div>
                <div class="flex-item card-coin-infos-right"> <%= coin.price %>  </div>
                <div class="card-coin-infos-right">
                  <%= sprintf('%.2f', coin.stock*coin.price) %> </div>
              </div>
            <% end %>
          <% end %>

          <div class="flex-item card-coin btn btn-info">
            <%= link_to "Add a coin", new_portfolio_coin_path(portfolio.id) %>
          </div>
        </div>
      <% end %>

      <div class="flex-item card-portfolio">
        <a href="portfolios/new" class="btn btn-info  ">Add a portfolio</a>
      </div>

    </div>
  </div>
</div>
