<div class="container">
  <h1>new transaction <%=@portfolio.name%></h1>

  <div data-controller="transaction" data-transaction-position-value="afterbegin">
    <%= simple_form_for([@portfolio, @transaction]) do |f| %>
      <div class="add-transaction-coin">
        <%= f.input :coin_in_id, as: :select, label: 'BUY/IN',
        collection: @coins.order(:name), prompt: "Buy",
        input_html: {class: "js-example-basic-single"},
        class: "form-control ",
        input_html:{data: { target:  "transaction.coinIn", action: "change->transaction#recapIn"   }} %>
        <%= f.input :amount_in,
        input_html:{data: { target:  "transaction.amountIn", action: "change->transaction#recapIn"   }} %>
      </div>
      <div data-transaction-target="resultsIn" class ="italic">
      </div>

      <div class="add-transaction-coin">
        <%= f.input :coin_out_id, as: :select, label: 'SELL/OUT',
        collection: @coins.order(:name), prompt: "Sell",
        input_html: {class: "js-example-basic-single"},
        class: "form-control" ,
        input_html:{data: { target:  "transaction.coinOut", action: "change->transaction#recapOut"   }} %>
        <%= f.input :amount_out,
          input_html:{data: { target:  "transaction.amountOut", action: "change->transaction#recapOut"   }} %>
      </div>
      <div data-transaction-target="resultsOut" class ="italic">
      </div>

      <div class="add-transaction-coin">
        <%= f.input :coin_fees_id, as: :select, label: 'FEES/OUT',
        collection: @coins.order(:name), prompt: "Fees",
        input_html: {class: "js-example-basic-single"},
        class: "form-control",
        input_html:{data: { target:  "transaction.coinFees", action: "change->transaction#recapFees"   }}  %>
        <%= f.input :amount_fees,
          input_html:{data: { target:  "transaction.amountFees", action: "change->transaction#recapFees"   }}  %>
      </div>
      <div data-transaction-target="resultsFees" class ="italic">
      </div>

      <%= f.button :submit, class: 'btn btn-primary', action: 'click->transaction#disable'%>
    <% end %>
  </div>

  <div class="container">
  <h1>Registered transactions</h1>
  <%@registered.each do |t| %>
   <p>   <%=t.created_at%> <%=t.coin_in_id%> <%=t.amount_in%> <%=t.coin_out_id%> <%=t.amount_out%></p>
  <%end%>
  </div>
</div>

<%#  donner les infos sur les cryptos du ptf au js %>
<div class="dontdisplay">
<ol id="id">     <%@coins.each do |c|%> <li><%=c.id%>     </li> <% end %> </ol>
<ol id="symbol"> <%@coins.each do |c|%> <li><%=c.symbol%> </li> <% end %> </ol>
<ol id="stock">  <%@coins.each do |c|%> <li><%=c.stock%>  </li> <% end %> </ol>
<ol id="price">  <%@coins.each do |c|%> <li><%=c.price%>  </li> <% end %> </ol>
</div>
