<div class="container">
  <h1>new transaction <%=@portfolio.name%></h1>

<%# transfert ou achat/vente %>
<%# selon choix afficher le formulaire ?%>
  <div data-controller="transaction" data-transaction-position-value="afterbegin">
    <%= simple_form_for([@portfolio, @transaction]) do |f| %>
    <div class="add-transaction-coin">
      <%= f.input :coin_in_id, as: :select, label: 'BUY/IN',
      collection: @coins.order(:name), prompt: "Buy",
      input_html: {class: "js-example-basic-single"},
      class: "form-control ",

      input_html:{data: { target:  "transaction.coinIn", action: "change->transaction#recap"   }} %>
      <%= f.input :amount_in,
      input_html:{data: { target:  "transaction.amountIn", action: "change->transaction#recap"   }} %>
    </div>
    <div data-transaction-target="results">
      <h3>test here</h3>
    </div>
    <div class="add-transaction-coin">
      <%= f.input :coin_out_id, as: :select, label: 'SELL/OUT',
      collection: @coins.order(:name), prompt: "Sell",
      input_html: {class: "js-example-basic-single"},
      class: "form-control" %>
      <%= f.input :amount_out %>
    </div>
    <div class="add-transaction-coin">
      <%= f.input :coin_fees_id, as: :select, label: 'FEES/OUT',
      collection: @coins.order(:name), prompt: "Fees",
      input_html: {class: "js-example-basic-single"},
      class: "form-control" %>
      <%= f.input :amount_fees %>
    </div>
    <%= f.button :submit, class: 'btn btn-primary', action: 'click->transaction#disable'%>
    <% end %>
    <div class="transaction-recap">
      afficher le recap de la transaction en javascript
      <% @coins.each do |coin| %>
        <%= coin.price %>
      <% end %>
  <div class="container" transaction-target="recap">
  
  </div>
          <div class="flex-item card-transaction-head">
            <div class="flex-item card-transaction-left">     </div>
            <div class="flex-item card-transaction-left">   </div>
            <div class="flex-item card-transaction-right">  Amount    </div>
            <div class="flex-item card-transaction-right italic" >  (Estimated €)    </div>
            <div class="flex-item card-transaction-right">  Stock before    </div>
            <div class="flex-item card-transaction-right">  Stock after    </div>
          </div>
          <div class="flex-item card-transaction-detail" >
            <div class="flex-item card-transaction-left green">  IN/BUY   </div>
            <div class="flex-item card-transaction-left">   </div>
            <div class="flex-item card-transaction-right">  Amount    </div>
            <div class="flex-item card-transaction-right italic" >  (Estimated €)    </div>
            <div class="flex-item card-transaction-right">  Stock before    </div>
            <div class="flex-item card-transaction-right">  Stock after    </div>
          </div>


      </p>
    </div>
  </div>
  Registered transactions
  <%@registered.each do |t| %>
   <p>   <%=t.created_at%> <%=t.coin_in_id%> <%=t.amount_in%> </p>
  <%end%>
</div>
