<p>Find me in app/views/coins/index.html.erb</p>

<div class="main-container">
  <div class="dashboard">
    <% @portfolios.each do |portfolio| %>
      <div class="flex-item card-portfolio ">
        <h2><%= portfolio.name  %></h2>
        <% @coins.each do |coin| %>
          <% if coin.portfolio_id == portfolio.id %>
            <div class="card-coin">
              <%= image_tag coin.image_url, alt: coin.name %>
              <div class="card-coin-infos">
                <p>coin name <%= coin.name %>
                  stock     <%= sprintf('%2f', coin.stock) %>
                  price     <%= sprintf('%2f', coin.price) %>
                  24h change<%= coin.change %>
                  value     <%= sprintf('%2f', coin.stock*coin.price) %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>
<div class="flex-item card-portfolio">
  <a href="#" class="btn btn-info  ">add a portfolio</a>
</div>
  </div>
</div>
