<h1>Coins#index</h1>
<p>Find me in app/views/coins/index.html.erb</p>
<div class="container">
  <div class="dashboard">
    <% @portfolios.each do |portfolio| %>
      <div class="card-portfolio">
        <p><%= portfolio.name  %></p>
        <% @coins.each do |coin| %>
          <% if coin.portfolio_id == portfolio.id %>
            <div class="card-coin">
              <%= image_tag coin.image_url, alt: coin.name %>
              <div class="card-coin-infos">
                <p>coin name <%= coin.name %>
                  stock     <%= sprintf('%2f', coin.stock) %>
                  price     <%= sprintf('%2f', coin.price) %>
                  24h change<%= coin.change %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
