<h1>Add a new crypto to <%= @portfolio.name %></h1>
<%= link_to "New search", new_portfolio_coin_path(@coins[0].portfolio.id) %>
<%= link_to "Dashboard", root_path %>

<ul>
  <li class="list-group-item border-0">
    <div class="d-flex">
      <div class ="flex-item card-coin" >
        <div class="flex-item card-coin-logo">        Logo    </div>
        <%# <div class="flex-item card-coin-infos-left">  Symbol  </div> %>
        <div class="flex-item card-coin-infos-left">  Name    </div>
        <div class="flex-item card-coin-infos-right"> Rank    </div>
        <div class="flex-item card-coin-infos-left"> Select  </div>
      </div>
    </div>
  </li>
  <% @coins.each do |c| %>
    <li class="list-group-item border-0">
      <div class="d-flex">
        <div class="flex-item card-coin">
          <div class="flex-item card-coin-logo"> <%= image_tag c.image_url, alt: c.name %> </div>
          <%# <div class="flex-item card-coin-infos-left">  <%= c.symbol  </div> %>
          <div class="flex-item card-coin-infos-left">  <%= c.name %>   </div>
          <div class="flex-item card-coin-infos-right"> <%= c.market_cap_rank %>   </div>
          <div class="flex-item card-coin-infos-left button">
            <%= button_to "#{c.symbol}",
                portfolio_coins_path(c.portfolio_id, gecko_coin: c.gecko_coin) %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
