
 <%# <h1>Add a new crypto to <%= @coins[0].portfolio_id[portfolio_name] %></h1>
 <h1>Add a new crypto to <%= @coins[0].portfolio_id %></h1>

<%= @coins[1].gecko_coin %>
<%# <h1>Add a new crypto to <%= @portfolio.name %></h1>

<ul>
  <li class="list-group-item border-0">
    <div class="d-flex">
      <div class ="flex-item card-coin" >
        <div class="flex-item card-coin-logo">        Logo    </div>
        <div class="flex-item card-coin-infos-left">  Symbol  </div>
        <div class="flex-item card-coin-infos-left">  Name    </div>
        <%# <div class="flex-item card-coin-infos-right"> Rank    </div> %>
        <div class="flex-item card-coin-infos-left"> Select  </div>
      </div>
    </div>
  </li>
  <% @coins.each do |c| %>
    <li class="list-group-item border-0">
      <div class="d-flex">
        <div class="flex-item card-coin">
          <div class="flex-item card-coin-logo"> <%= image_tag c.image_url, alt: c.name %> </div>
          <div class="flex-item card-coin-infos-left">  <%= c.symbol %> </div>
          <div class="flex-item card-coin-infos-left">  <%= c.name %>   </div>
          <div class="flex-item card-coin-infos-select">
            <%= button_to "#{c.gecko_coin}",
                portfolio_coins_path(c.portfolio_id, gecko_coin: c.gecko_coin) %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
